/* LOADING IN FONTS */
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Standard.ttf");
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Mild.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Semi-Mild.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Semi-Strong.ttf");
    font-weight: 600;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Strong.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Concourse;
    src: url("../fonts/Concourse T4 Regular.otf");
}
@font-face {
    font-family: Concourse;
    src: url("../fonts/Concourse T4 Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: Concourse;
    src: url("../fonts/Concourse T4 Italic.otf");
    font-style: italic;
}
@font-face {
    font-family: Concourse;
    src: url("../fonts/Concourse T4 Bold Italic.otf");
    font-weight: bold;
    font-style: italic;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Roquefort, sans-serif;
    margin: 0;
    padding: 0;
}
h3, h4, h5, h6, p {
    font-family: Concourse, sans-serif;
}
.mainContainer {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 2fr 1fr;
}
.leftContainer {
    grid-area: left;
    height: 100%;
    background-color: #e6ecf7;
}
.right.container {
    display: grid;
    grid-area: right;
    grid-template-areas: 'navi''largeCard''random';
    justify-content: center;
    height: 100%;
    background-color: #f2f6ff;
}
/* Time of Day Container */
.tod{
    display: grid;
    grid-template-areas:
            "Time Toggle"
            "Date Date"
            "Greeting Greeting";
    justify-content: space-between;
    margin-top: 3em;
}
.currentTime {
    grid-area: Time;
    margin-left: 2em;
}
.toggle {
    grid-area: Toggle;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.longDate {
    grid-area: Date;
    margin-left: 2em;
}
.greeting {
    grid-area: Greeting;
    margin-left: 2em;
}
/* End Time of Day Container */

/* Weather Forecast Container*/
    .sixDayForecast {
        display: grid;
        grid-template-areas: "one two three four five six";
        justify-content: space-evenly;
      }
    .day {
        width: 7em;
        height: 10em;
        border-radius: 10px;
        margin: 1em 0;
        color: #EEE;
        text-align: center;
    }
    .day1Card{
        grid-area: one;
    }
    .day2Card{
        grid-area: two;
    }
    .day3Card{
        grid-area: three;
    }
    .day4Card{
        grid-area: four;
    }
    .day5Card{
        grid-area: five;
    }
    .day6Card{
        grid-area: six;
    }
/* End of Weather Forecast Container*/

/* Misc Specs Container */
    .miscSpecs{
        display: grid;
        grid-template-areas:
                "aqi map"
                "ss map";
        justify-content: space-evenly;
    }
    .aqi {
        grid-area: aqi;
        width: 26em;
        height: 12em;
        background-color: #f2f6ff;
        border-radius: 10px;
        margin-top: 2em;
        margin-bottom: .5em;
    }
    .detailsContainer{
        display: grid;
        grid-template-areas: "aqi1 aqi2 aqi3 aqi4 aqi5 aqi6";
        justify-content: space-evenly;
        background: #f2f6ff;
        border: rgba(20,180,20,.6);
        border-radius: 10px;
        margin-top: 1em;
    }
    .detailsContainer p {
        margin-block: .7em;
    }
    .aqiDetails1{
        grid-area: aqi1;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
        text-align: center;
    }
    .aqiDetails2{
        grid-area: aqi2;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
        text-align: center;
    }
    .aqiDetails3{
        grid-area: aqi3;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
        text-align: center;
    }
    .aqiDetails4{
        grid-area: aqi4;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
        text-align: center;
    }
    .aqiDetails5{
        grid-area: aqi5;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
        text-align: center;
    }
    .aqiDetails6{
        grid-area: aqi6;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
        text-align: center;
    }
    .riseNSet{
        grid-area: ss;
        display: grid;
        grid-template-areas:
                "title title"
                "sun moon";
        grid-template-columns: 1fr 1fr;
        width: 26em;
        height: 14em;
        background-color: #f2f6ff;
        border-radius: 10px;
        margin-top: 2em;
        margin-bottom: .5em;
    }
    .title{
        grid-area: title;
        margin-left: 1em;
    }
    .sun{
        grid-area: sun;
        width: 10em;
        margin-left: 1em;
    }
    .moon{
        grid-area: moon;
        width: 10em;
    }
    /*.currentRNS{*/
    /*    grid-area: sunrise;*/
    /*    width: 10em;*/
    /*}*/
    /*.photography{*/
    /*    grid-area: moonrise;*/
    /*    width: 10em;*/
    /*}*/
    .map{
        grid-area: map;
        width: 26em;
        height: 28.5em;
        background-color: #f2f6ff;
        border-radius: 10px;
        margin-top: 2em;
    }

    .mapboxgl-canvas {
        border-radius: 10px;
        width: 26em;
        height: 28.5em;
    }
/* End of Misc Specs Container */

/* NAVI CONTAINER */
.navi {
    display: grid;
    grid-template-areas:'search pfp';
    justify-content: space-around;
    margin-top: 3em;
}

.buttonIn {
    width: 290px;
    position: relative;
}

#search {
    grid-area: search;
    background-color: #e6ecf7;
    height: 2.5em;
    border: #e6ecf7;
    margin-left: .5em;
    padding: 0px;
    width: 100%;
    outline: none;
    border-radius: 7px;
}

#search-button {
    position: absolute;
    top: 0;
    border-radius: 7px;
    right: 0px;
    z-index: 2;
    border: none;
    height: 2.5em;
    cursor: pointer;
    color: white;
    background-color: #FFB767;
    transform: translateX(2px);
}

.pfp {
    grid-area: pfp;
    width: 2.5em;
    height: 2.5em;
    background-color: #FFB767;
    border-radius: 7px;
    margin-right: .5em;
}
/* END OF NAVI CONTAINER */

.largeCard {
    display: grid;
    grid-area: largeCard;
    border-radius: 10px;
    width: 25em;
    height: 60vh;
    background-color: #FFB767;
    margin-top: .5em;
    margin-left: 3em;
    margin-right: 3em;
    /*margin-bottom: 3em;*/

}
.random {
    width: 25em;
    height: 20vh;
    grid-area: random;
    border-radius: 10px;
    background-color: #FFB767;
    margin-top: 2em;
    margin-left: 3em;
}

/*Time of Day Gradients*/
.backdrop-night
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#0D0333,#26013D,#301140) fixed; /* Standard syntax */
}

.backdrop-morning
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#4dc4ff,#ffcc66) fixed; /* Standard syntax */
}

.backdrop-midday
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#99ccff,#66b2ff) fixed; /* Standard syntax */
}

.backdrop-dusk
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#ff9966, #9966ff) fixed; /* Standard syntax */
}

.backdrop-dawn
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#9966ff,#ff9966) fixed; /* Standard syntax */
}
/*End of Time of Day Gradients*/


/* TEMP GRADIENTS */
.temp20s {
    background-image: linear-gradient(to right bottom, rgba(154,127,205,.7), rgba(162,128,207,.7), rgba(170,128,209,.7), rgba(178,129,211,.7), rgba(186,129,212,.7), rgba(193,127,210,.7), rgba(200,126,208,.7), rgba(207,124,205,.7), rgba(214,120,199,.7), rgba(221,116,192,.7), rgba(227,113,185,.7), rgba(232,109,177,.7));
}

.temp30s-50s {
    background-image: linear-gradient(to right bottom, rgba(103,181,206,.7), rgba(95,174,213,.7), rgba(97,166,217,.7), rgba(108,156,219,.7), rgba(126,145,217,.7), rgba(139,140,216,.7), rgba(152,134,213,.7), rgba(165,128,208,.7), rgba(173,128,210,.7), rgba(181,129,211,.7), rgba(189,129,212,.7), rgba(197,129,213,.7));
}

.temp50s-60s {
    background-image: linear-gradient(to right bottom, rgba(157,206,103,.7), rgba(119,206,132,.7), rgba(86,204,160,.7), rgba(65,199,183,.7), rgba(70,192,199,.7), rgba(68,186,207,.7), rgba(78,179,213,.7), rgba(95,171,214,.7), rgba(100,162,218,.7), rgba(114,152,219,.7), rgba(133,140,214,.7), rgba(154,127,205,.7));
}

.temp70s-80s {
    background-image: linear-gradient(to right bottom, rgba(224,213,123,.7), rgba(213,212,117,.7), rgba(201,210,112,.7), rgba(189,209,108,.7), rgba(176,208,105,.7), rgba(153,208,116,.7), rgba(130,208,129,.7), rgba(107,206,142,.7), rgba(76,203,169,.7), rgba(62,197,190,.7), rgba(76,190,203,.7), rgba(103,181,206,.7));
}

.temp90s {
    background-image: linear-gradient(to right bottom, rgba(226,118,85,.7), rgba(229,136,85,.7), rgba(230,155,87,.7), rgba(230,172,94,.7), rgba(228,190,104,.7), rgba(222,197,107,.7), rgba(216,204,111,.7), rgba(209,211,116,.7), rgba(197,210,111,.7), rgba(185,209,108,.7), rgba(171,207,105,.7), rgba(157,206,103,.7));
}

.temp100s {
    background-image: linear-gradient(to right top, rgba(174,76,76,.7), rgba(184,83,78,.7), rgba(194,91,80,.7), rgba(204,99,82,.7), rgba(214,107,83,.7), rgba(220,118,83,.7), rgba(225,130,84,.7), rgba(230,142,85,.7), rgba(230,160,89,.7), rgba(229,178,96,.7), rgba(227,196, 108,.7), rgba(224,213,123,.7));

/* END OF TEMP GRADIENTS */
