/* LOADING IN FONTS */
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Standard.ttf");
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Mild.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Semi-Mild.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Semi-Strong.ttf");
    font-weight: 600;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Strong.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Concourse;
    src: url("../fonts/Concourse T4 Regular.otf");
}
@font-face {
    font-family: Concourse;
    src: url("../fonts/Concourse T4 Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: Concourse;
    src: url("../fonts/Concourse T4 Italic.otf");
    font-style: italic;
}
@font-face {
    font-family: Concourse;
    src: url("../fonts/Concourse T4 Bold Italic.otf");
    font-weight: bold;
    font-style: italic;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Roquefort, sans-serif;
    margin: 0;
    padding: 0;
}
h3, h4, h5, h6, p {
    font-family: Concourse, sans-serif;
}
.mainContainer {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 2fr 1fr;
}
.leftContainer {
    grid-area: left;
    height: 100vh;
    background-color: #e6ecf7;
}
.right.container {
    grid-area: right;
    height: 100vh;
    background-color: #f2f6ff;
    justify-content: center;

}
/* Time of Day Container */
.tod{
    display: grid;
    grid-template-areas:
            "Time Toggle"
            "Date Date"
            "Greeting Greeting";
    justify-content: space-between;
}
.currentTime {
    grid-area: Time;
    margin-left: 2em;
}
.toggle {
    grid-area: Toggle;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.longDate {
    grid-area: Date;
    margin-left: 2em;
}
.greeting {
    grid-area: Greeting;
    margin-left: 2em;
}
/* End Time of Day Container */

/* Weather Forecast Container*/
    .sixDayForecast {
        display: grid;
        grid-template-areas: "one two three four five six";
        justify-content: space-evenly;
      }
    .day {
        width: 7em;
        height: 10em;
        background-color: #f2f6ff;
        border-radius: 10px;
        margin: 1em 0;
    }
    .day1Card{
        grid-area: one;
    }
    .day2Card{
        grid-area: two;
    }
    .day3Card{
        grid-area: three;
    }
    .day4Card{
        grid-area: four;
    }
    .day5Card{
        grid-area: five;
    }
    .day6Card{
        grid-area: six;
    }
/* End of Weather Forecast Container*/

/* Misc Specs Container */
    .miscSpecs{
        display: grid;
        grid-template-areas:
                "aqi map"
                "rise map";
        justify-content: space-evenly;
    }
    .aqi {
        grid-area: aqi;
        width: 24em;
        height: 12em;
        background-color: #f2f6ff;
        border-radius: 10px;
        margin-bottom: .5em;
    }
    .detailsContainer{
        display: grid;
        grid-template-areas: "aqi1 aqi2 aqi3 aqi4 aqi5 aqi6";
        justify-content: space-evenly;
        background: #f2f6ff;
        border: rgba(20,180,20,.6);
        border-radius: 10px;
        margin-top: 1em;
    }
    .aqiDetails1{
        grid-area: aqi1;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
    }
    .aqiDetails2{
        grid-area: aqi2;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
    }
    .aqiDetails3{
        grid-area: aqi3;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
    }
    .aqiDetails4{
        grid-area: aqi4;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
    }
    .aqiDetails5{
        grid-area: aqi5;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
    }
    .aqiDetails6{
        grid-area: aqi6;
        width: 3.5em;
        height: 4em;
        border: rgba(20,200,20,.8) solid 1px;
        border-radius: 10px;
    }
    .riseNSet{
        grid-area: rise;
        display: grid;
        grid-template-areas:
                "snrTitle snrTitle"
                "sunrise moonrise";
        grid-template-columns: 1fr 1fr;

        width: 24em;
        height: 12em;
        background-color: #f2f6ff;
        border-radius: 10px;
        margin-bottom: .5em;
    }
    .snrTitle{
        grid-area: snrTitle;
    }
    .currentRNS{
        grid-area: sunrise;
        width: 10em;
    }
    .photography{
        grid-area: moonrise;
        width: 10em;
    }
    .map{
        grid-area: map;
        width: 24.5em;
        height: 24.5em;
        background-color: #f2f6ff;
        border-radius: 10px;
    }
/* End of Misc Specs Container */

/* Navi Container*/
.navi {
    display: grid;
    grid-template-areas:'search pfp';
}
#search {
    grid-area: search;
    background-color: #e6ecf7;
    width: 10em;
    height: 2em;
}
.pfp {
    grid-area: pfp;
    width: 3em;
    height: 2em;
}
.largeCard {
    display: grid;
    grid-area: largeCard;
    width: 25em;
    height: 60vh;
}
.random {
    width: 25em;
    height: 15vh;
    background-color: #FFB767;
}
/* Time of Day Gradients */
.backdrop-night
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#0D0333,#26013D,#301140) fixed; /* Standard syntax */
}

.backdrop-morning
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#4dc4ff,#ffcc66) fixed; /* Standard syntax */
}

.backdrop-midday
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#99ccff,#66b2ff) fixed; /* Standard syntax */
}

.backdrop-dusk
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#ff9966, #9966ff) fixed; /* Standard syntax */
}

.backdrop-dawn
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#9966ff,#ff9966) fixed; /* Standard syntax */
}

.temp20s {
    linear-gradient(rgba((154,127,205,.7),(162,128,207,.7),(170,128,209,.7),
    (178,129,211,.7),(186,129,212,.7),(193,127,210,.7),(200,126,208,.7),
    (207,124,205,.7),(214,120,199,.7),(221,116,192,.7),(227,113,185,.7),
    (232,109,177,.7));
}

.temp30s-40s {
    linear-gradient(rgba((103,181,206,.7),(95,174,213,.7),(97,166,217,.7),
    (108,156,219,.7),(126,145,217,.7),(139,140,216,.7),(152,134,213,.7),
    (165,128,208,.7),(173,128,210,.7),(181,129,211,.7),(189,129,212,.7),
    (197,129,213,.7),
}

.temp50s-60s {
    linear-gradient(rgba((157,206,103,.7),(119	206,132,.7),(86,204,160,.7),
    (65,199,183,.7),(70,192,199,.7),(68,186,207,.7),(78,179,213,.7),
    (95,171,214,.7),(100,162,218,.7),(114,152,219,.7),(133,140,214,.7),
    (154,127,205,.7));
}

.temp70s-80s {
    linear-gradient(rgba((224,213,123,.7),(213,212,117,.7),(201,210,112,.7),
    (189,209,108,.7),(176,208,105,.7),(153,208,116,.7),(130,208,129,.7),
    (107,206,142,.7),(76,203,169,.7),(62,197,190,.7),(76,190,203,.7),
    (103,181,206,.7));
}

.temp90s {
    linear-gradient(rgba(226,118,85,.7),(229,136,85,.7),(230,155,87,.7),
    (230,172,94,.7),(228,190,104,.7),(222,197,107,.7),(216,204,111,,.7),
    (209,211,116,.7),(197,210,111,.7),(185,209,108,.7),(171,207,105,.7),
    (157,206,103,.7));
}

.temp100s {
    linear-gradient(rgba(174,76,76,.7),(184,83,78,.7),(194,91,80,.7),
    (204,99,82,.7),(214,107,83,.7),(220,118,83,.7),(225,130,84,.7),
    (230,142,85,.7),(230,160,89,.7),(229,178,96,.7),(227,196, 108,.7),
    (224,213,123,.7));
}