/* LOADING IN FONTS */
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Standard.ttf");
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Mild.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Semi-Mild.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Semi-Strong.ttf");
    font-weight: 600;
}
@font-face {
    font-family: Roquefort;
    src: url("../fonts/Roquefort-Strong.ttf");
    font-weight: bold;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Roquefort, sans-serif;
    margin: 0;
    padding: 0;
}
.mainContainer {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 2fr 1fr;
}
.leftContainer {
    grid-area: left;
    height: 100vh;
    background-color: #e6ecf7;
}
.right.container {
    grid-area: right;
    height: 100vh;
    background-color: #f2f6ff;
    justify-content: center;

}
/* Time of Day Container */
.tod{
    display: grid;
    grid-template-areas:
            "Time Toggle"
            "Date Date"
            "Greeting Greeting";
}
.currentTime {
    grid-area: Time;
}
.toggle {
    grid-area: Toggle;
}
.longDate {
    grid-area: Date;
}
.greeting {
    grid-area: Greeting;
}
/* End Time of Day Container */

/* Weather Forecast Container*/
    .sixDayForecast {
        display: grid;
        grid-template-areas: "one two three four five six";
        justify-content: space-around;
      }
    .day {
        width: 8em;
        height: 6em;
        background-color: #f2f6ff;
        border-radius: 10px;
    }
    .day1Card{
        grid-area: one;
    }
    .day2Card{
        grid-area: two;
    }
    .day3Card{
        grid-area: three;
    }
    .day4Card{
        grid-area: four;
    }
    .day5Card{
        grid-area: five;
    }
    .day6Card{
        grid-area: six;
    }
/* End of Weather Forecast Container*/

/* Misc Specs Container */
    .miscSpecs{
        display: grid;
        grid-template-areas:
                "aqi rise"
                "rain map";
        justify-content: space-around;
    }
    .aqi {
        grid-area: aqi;
        width: 24em;
        height: 12em;
        background-color: #f2f6ff;
        border-radius: 10px;
    }
    .riseNSet{
        grid-area: rise;
        width: 24em;
        height: 12em;
        background-color: #f2f6ff;
        border-radius: 10px;
    }
    .rainfall{
        grid-area: rain;
        width: 24em;
        height: 12em;
        background-color: #f2f6ff;
        border-radius: 10px;
    }
    .map{
        grid-area: map;
        width: 24em;
        height: 12em;
        background-color: #f2f6ff;
        border-radius: 10px;
    }
/* End of Misc Specs Container */

/* Navi Container*/
.navi {
    display: grid;
    grid-template-areas:'search pfp';
}
#search {
    grid-area: search;
    background-color: #e6ecf7;
    width: 10em;
    height: 2em;
}
.pfp {
    grid-area: pfp;
    width: 3em;
    height: 2em;
}
.largeCard {
    display: grid;
    grid-area: largeCard;
    width: 25em;
    height: 60vh;
}
.random {
    width: 25em;
    height: 15vh;
    background-color: #FFB767;
}
/* Time of Day Gradients */
.backdrop-night
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#0D0333,#26013D,#301140) fixed; /* Standard syntax */
}

.backdrop-morning
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#4dc4ff,#ffcc66) fixed; /* Standard syntax */
}

.backdrop-midday
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#99ccff,#66b2ff) fixed; /* Standard syntax */
}

.backdrop-dusk
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#ff9966, #9966ff) fixed; /* Standard syntax */
}

.backdrop-dawn
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #b9adad; /* For browsers that do not support gradients */
    background: linear-gradient(#9966ff,#ff9966) fixed; /* Standard syntax */
}